@model List<SubscriptionViewModel>

<div class="content w-75 float-right container">
            <div class="animated fadeIn">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                        <div class="card-header">
                            <strong class="card-title">Abonelik Listesi</strong>
                        </div>
                        <div>
                             <a asp-area="Admin"
                                asp-controller="Subscription"
                                asp-action="Create"
                                class="btn btn-success btn-sm">Yeni Abonelik</a>
                        </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table" class="table table-striped table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Id</th>
                                            <th>Abonelik Türü</th>
                                            <th>Birim Fiyatı</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                                                                <td>Tiger Nixon</td>
                                                                                <td>System Architect</td>
                                                                                <td>Edinburgh</td>
                                                                                <td>$320,800</td>
                                                                            </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div><!-- .content -->

@section Styles
{
    @await Html.PartialAsync("_DataTablesStylePartial")
}

@section Scripts
{
    @await Html.PartialAsync("_DataTablesScriptsPartial")
}