@model EditSTaskViewModel

<div class="row w-75 float-right container pr-5">
<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h3>Görevi Düzenle</h3>
        </div>
        <div class="card-body card-block">
            <form asp-area="Admin"
                  asp-controller="STask"
                  asp-action="Edit"
                  method="post" class="form-horizontal">
                <div class="row form-group">
                    <div class="col col-md-2"><label asp-for="Title" class=" form-control-label">Başlık</label></div>
                    <div class="col-12 col-md-6"><input asp-for="Title" type="text" placeholder="Görev Başlığı Giriniz.." class="form-control"></div>
                    <div class="col-md-3 icheck-primary ml-3">
                        <input asp-for="IsCompleted" type="checkbox" />
                        <label asp-for="IsCompleted" for="IsCompleted"></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col col-md-2"><label asp-for="CustomerName" class=" form-control-label"></label></div>
                    <div class="col-12 col-md-10"><input asp-for="CustomerName" type="text" placeholder="Müşteri Bilgisi Giriniz..." class="form-control"></div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-2"><label asp-for="ProductName" class=" form-control-label"></label></div>
                    <div class="col-12 col-md-10"><input asp-for="ProductName" type="text" placeholder="Ürün Bilgisi Giriniz..." class="form-control"></div>
                </div>

                <div class="row form-group d-none">
                    <div class="col col-md-2"><label asp-for="UserId" class=" form-control-label"></label></div>
                    <div class="col-12 col-md-10"><input asp-for="UserId" type="text" placeholder="Ürün Bilgisi Giriniz..." class="form-control"></div>
                </div>


                <div class="row form-group">
                    <div class="col col-md-2"><label asp-for="Note" class=" form-control-label"></label></div>
                    <div class="col-12 col-md-10"><textarea asp-for="Note" rows="9" placeholder="Görev Detayını Giriniz..." class="form-control"></textarea></div>
                </div>

                <a asp-area="Admin"
                   asp-controller="STask"
                   asp-action="Index"
                   class="btn btn-warning text-white">Geri Dön</a>
                <button class="btn btn-success float-right" type="submit">Değişiklikleri Kaydet</button>
            </form>
        </div>
    </div>
</div>
</div>

@section Styles
{
        <link rel="stylesheet" href="~/AdminArea/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
}