
<header>
     <nav class="navbar navbar-expand-lg bg-white navbar-light shadow-sm px-5 py-3 py-lg-0">
         <a 
             asp-area=""
             asp-controller="Home"
             asp-action="Index"
             class="navbar-brand p-0">
                <h1 class="m-0 text-uppercase text-primary"><img src="AdminArea/images/salesuplogo.png"></h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0 me-n3">
                    <a
                        asp-area=""
                        asp-controller="Home"
                        asp-action="Index"
                        class="nav-item nav-link active">Ana Sayfa</a>
                    <a href="about.html" class="nav-item nav-link">Hakkımızda</a>
              
                    
                    @*<!--Pages Start-->
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                        <div class="dropdown-menu m-0">
                            <a href="blog.html" class="dropdown-item">Blog Grid</a>
                            <a href="detail.html" class="dropdown-item">Blog Detail</a>
                            <a href="feature.html" class="dropdown-item">Features</a>
                            <a href="quote.html" class="dropdown-item">Quote Form</a>
                            <a href="team.html" class="dropdown-item">The Team</a>
                            <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                        </div>
                    </div>*@
                    <!--Pages End-->
                    
                    <a href="contact.html" class="nav-item nav-link">İletişim</a>
                    
                    <!--Burası Role'lere göre ayarlanacak-->
                    <a 
                        asp-area="Admin"
                        asp-controller="Home"
                        asp-action="Index"
                        class="nav-item nav-link">Uygulamaya Git</a>
                    <!--Burası Role'lere göre ayarlanacak-->
                    
                                        <a href="service.html" class="nav-item nav-link">Giriş Yap</a>
                                        <a href="service.html" class="nav-item nav-link">Kayıt Ol</a>
                </div>
            </div>
        </nav>
</header>


