<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CONSULT - Consultancy Website Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    @await Html.PartialAsync("_StylesPartial")
    @await RenderSectionAsync("Styles",false)
    
</head>
<body>
@await Html.PartialAsync("_HeaderPartial")
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

@await Html.PartialAsync("_FooterPartial")

@await Html.PartialAsync("_ScriptPartial")
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>