<!-- AdminCustomerHeader-->
<header id="header" class="header d-flex justify-content-between align-items-center mr-5">
    <div class="d-flex justify-content-between align-items-center ml-4 my-4">
        <a class="navbar-brand" href="./"><img style="width: 120px; height: 70px" src="~/AdminArea/images/salesuplogo.png" alt="Logo"></a>
    </div>
    <div class="top-right m-3">
        <div class="header-menu  d-flex align-items-center">
            <div class="header-left">
                @await Component.InvokeAsync("MessageNotification")
            </div>
            <div class="ml-3">
                <a asp-area="Admin"
                   asp-controller="Account"
                   asp-action="Profile"
                   class="btn btn-primary rounded-circle mt-2 text-center" alt="" style="width: 45px; height: 45px;"><i style="font-size: 25px" class="fa fa-user"></i></a>
            </div>
        </div>
    </div>
</header>
        <!-- /#header -->
