@model MessageViewModel

<div class="w-75 float-right container float-end pe-5 me-5 my-5">
    <h3 class="text-primary">Mesaj Gönder</h3>
    <hr />
    <form asp-area="Customer"
          asp-controller="Message"
          asp-action="NewMessage"
          method="post">
        <div class="row">
            <div class="col-md-12 text-danger" asp-validation-summary="All"></div>

            <div class="col-md-12 mb-4">
                <div class="form-group">
                    <label class="text-primary mb-2" asp-for="ToName"></label>
                    <select name="ToId" class="form-control" asp-items="@Model.UserList"></select>
                </div>
            </div>

            <div class="col-md-12 mb-4">
                <div class="form-group">
                    <label class="text-primary mb-2" asp-for="Text"></label>
                    <textarea class="form-control" style="height: 200px" asp-for="Text"></textarea>
                </div>
            </div>

            <div class="col-md-12">
                <a asp-area="Customer" asp-controller="Message" asp-action="Index" class="btn btn-warning text-white">Geri Dön</a>
                <button type="submit" class="btn btn-danger float-right">Mesajı Gönder</button>
            </div>
        </div>
    </form>
</div>