<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
        <title>DASHMIN - Bootstrap Admin Template</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
    @await Html.PartialAsync("_CustomerStyles")
    @await RenderSectionAsync("Styles",false)
    
</head>
<body>
@await Component.InvokeAsync("CustomerHeader")
@await Component.InvokeAsync("CustomerSideBar")
@RenderBody()

@await Html.PartialAsync("_CustomerScripts")
@await Component.InvokeAsync("Notyf")
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>